@font-face {
  font-family: "Samim";
  src: url("font/Samim.eot"); /* IE9 Compat Modes */
  src: url("font/Samim.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("font/Samim.woff2") format("woff2"),
    /* Super Modern Browsers */ url("font/Samim.woff") format("woff"),
    /* Pretty Modern Browsers */ url("font/Samim.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("font/Samim.svg#svgFontName") format("svg"); /* Legacy iOS */
}

* {
  box-sizing: border-box;
  font-family: "Samim";
}

body {
  background-image: url("https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg");
  padding: 10px;
  /* background-repeat: no-repeat;
  background-size: auto; */
}

.established {
  font-style: italic;
  font-size: 12px;
}

hr {
  height: 5px;
  background-color: rgb(57, 34, 34);
  border: none;
  border-radius: 5px;
}

h1 {
  font-size: 40px;
  letter-spacing: 10px;
  margin-top: 0;
  margin-bottom: 5px;
}

h2 {
  font-size: 20px;
  word-spacing: 2px;
}

h1,
h2,
p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin: 0 auto;
  padding: 20px;
  max-width: 540px;
}

img {
  display: block;
  margin: -10px auto 0 auto;
}

.bottom-line {
  margin-top: 15px;
}

.cofee {
  display: flex;
  justify-content: space-between;
}

/* FOOTER */

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}
